
.CardGroup{
  align-items: center;
  justify-content: center;
}

.Typography{
  font-size: 50px;
  color:#3f51b5;
}

.Card{
  max-width: 300px;
  max-height: 550px;
  /* margin: 20px; */
  padding: 20px;
  border-radius: 10px;
  /* border: 2px solid black; */
  
}

.Button{
  margin: 3px;

}
