.cards-directories-enter {
  opacity: 0;
}
.cards-directories-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.cards-directories-exit {
  opacity: 1;
}
.cards-directories-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
